    </main>
    <footer class="text-center mt-4">
      <p>&copy; 2025 Barefoot Bay Toys For Tots</p>
    </footer>
    <script src="/jquery.js"></script>
    <script src="/scripts.js"></script>
  </body>
</html>