.fixed-width-btn {
  width: 150px; /* Adjust the desired width in pixels */
}

.header-text {
  font-size: 2rem;
}

/* Apply to all interactive elements */
button,
input,
select,
textarea {
  touch-action: manipulation;
}

button {
  background-color: #4CAF50;  /* normal color */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;
}

button:active {
  transform: scale(0.95);       /* slightly shrink the button */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2) inset; /* optional pressed effect */
}

#report-toys table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  #report-toys th, #report-toys td {
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: center;
  }

  #report-toys th {
    background-color: #f2f2f2;
  }

  #report-toys tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }